@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

body{
    font-family: "Slackey", sans-serif;
    margin: 0;
    background-color: rgb(245, 239, 215);
}

h1{
    margin: 0;
    padding: 25px 25px;
    color: rgb(246, 200, 17);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.847);
}

a{
    text-decoration: none;
    color: rgb(71, 41, 1);
    font-weight: bolder;
    font-size: 25px;
}

ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

li{
    background-color: rgb(246, 200, 17);
    padding: 30px;
    margin: 10px;
    list-style: none;
    width: 350px;
    border-radius: 15px;
    box-shadow: rgba(246, 110, 31, 0.446) 1.95px 1.95px 2.6px;
    text-align: center;
}
